<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <section class='devise'>
    <header>
      <%= link_to sanitize("&larr;"), root_path, class: 'icon' %>
      <h1>Forgot password?</h1>
      <%= f.submit "Send", class: 'btn--ghost' %>
    </header>
    <main>
      <%= form_error_notification(resource) %>
      <div class="field border-top border-bottom">
        <%= f.email_field :email, placeholder: 'Email', autocomplete: "email" %>
      </div>
      <div class="links">
        <%= render "devise/shared/links" %>
      </div>
    </main>
  </section>
<% end %>
